apiVersion: apps/v1
kind: Deployment
metadata:
  name: chess-game
  namespace: chess-game
spec:
  revisionHistoryLimit: 3
  replicas: 2 
  selector:
    matchLabels:
      app: chess-game
  template:
    metadata:
      labels:
        app: chess-game
    spec:
      containers:
      - name: chess-app
        image: gorkememir/chess-game:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3001
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          value: "chessdb"
        - name: POSTGRES_HOST
          value: "192.168.2.138"
        - name: GOOGLE_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: google-oauth-secret
              key: GOOGLE_CLIENT_ID
        - name: GOOGLE_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: google-oauth-secret
              key: GOOGLE_CLIENT_SECRET
        - name: GOOGLE_CALLBACK_URL
          value: "https://chess.emirpalace.ca/auth/google/callback"
        - name: SESSION_SECRET
          valueFrom:
            secretKeyRef:
              name: google-oauth-secret
              key: SESSION_SECRET
        - name: NODE_ENV
          value: "production"
        - name: PORT
          value: "3001"
---
apiVersion: v1
kind: Service
metadata:
  name: chess-service
  namespace: chess-game
spec:
  type: NodePort
  selector:
    app: chess-game
  ports:
    - port: 80
      targetPort: 3001
      nodePort: 30008 # Access via http://<SERVER_IP>:30008
