apiVersion: apps/v1
kind: Deployment
metadata:
  name: habit-tracker
  namespace: habit-tracker
spec:
  revisionHistoryLimit: 3
  replicas: 2 
  selector:
    matchLabels:
      app: habit-tracker
  template:
    metadata:
      labels:
        app: habit-tracker
    spec:
      containers:
      - name: habit-app
        image: gorkememir/habit-tracker:f800506513f00f1b40794dfead3f5f806a716d41
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              name: postgres-secret
              key: POSTGRES_DB
        - name: POSTGRES_HOST
          value: "192.168.2.138"
        - name: GOOGLE_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: google-oauth-secret
              key: GOOGLE_CLIENT_ID
        - name: GOOGLE_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: google-oauth-secret
              key: GOOGLE_CLIENT_SECRET
        - name: GOOGLE_CALLBACK_URL
          value: "https://habits.emirpalace.ca/auth/google/callback"
        - name: SESSION_SECRET
          valueFrom:
            secretKeyRef:
              name: google-oauth-secret
              key: SESSION_SECRET
        - name: NODE_ENV
          value: "production"
---
apiVersion: v1
kind: Service
metadata:
  name: habit-service
  namespace: habit-tracker
spec:
  type: NodePort
  selector:
    app: habit-tracker
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30007 # Access via http://<SERVER_IP>:30007